* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.btn {
  padding-inline: 12px;
  padding-block: 4px;
}

.delBtn {
  border: none;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.delBtn:hover {
  background-color: lightgray;
}

ul {
  display: flex;
  gap: 8px;
  flex-direction: column;
  list-style: none;
}

input {
  padding-inline: 12px;
  padding-block: 4px;
}
